<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>main</title>    
</head>
<body>
	<div>
		<h1>User Login with Token !!</h1>
	</div>
	    <div>
	    	<table>
	    		<tr height="40px">
					<td>TOKEN -> <a th:text="${token}"/></td>
					
					<td th:text="${nodab}">! ! !</td>
					
				</tr>
				<tr>
					<td th:text="${loginUser.id}"> ! </td>
					<td th:text="${loginUser.email}"> ! </td>
					<td th:text="${loginUser.name}"> ! </td>
				</tr>
	    	</table>
	    </div>
    </form> 
</body>
</html>